header {
    height: 150vh;
    padding-top: 7rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.header_container {
    height: 100%;
    text-align: center;
    position: relative;
}

.logo {
    display: block;
    width: 70px;
    height: 60px;
    margin: auto;
    margin-top: -5%;
}

/* ======== CTA =========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;    
    gap: 1.2rem;
}

/* ======== SOCIALS =========== */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 15rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======== ME =========== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ======== SCROLL DOWN =========== */

.scroll_down {
    position: absolute;
    right: 15rem;
    bottom: 1rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    header {
        height: 130vh;
    }

    .scroll_down{
        right: 5rem;
        bottom: 1rem;
        transform: rotate(90deg);
        font-weight: 300;
        font-size: 0.9rem;
    }

    .header_socials{
        bottom: 5rem;
    }

    .logo{
        margin-top: -10%;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    header {
        height: 95vh;
    }

    .header_container h1 {
        font-size: larger;
    }

    .logo{
        margin-top: -15%;
    }

    .header_socials,
    .scroll_down{
        display: none ;
    }
}